.container {
    margin-top: 30px;
}
  
.row {
    margin: 20px 0;
}
  
table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.select {
    width: 85%;
    height: 34px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: left;
    margin-left: 10px;
}

.divFilter {
    padding: 0px 4px 0px 10px;
    margin-left: 5px;
}

.labelFilter{
    margin: 10px 0 5px 10px;
    font-size: 20px;
}

.filter{
    margin-bottom: 20px;
}

.successButton{
    margin: 0 0 10px 10px;
}

.buttonFilter, .refreshButton{
    margin-left: 5px;
}
