<div class="filter">
    <label for="status" class="labelFilter">Filter</label>
    <form #postForm="ngForm" (ngSubmit)="onFilterPets(status.value)">
        <div >
          <select 
          name="status" 
          id="status" 
          value={{selectedValue}} 
          class="select"
          #status>
          <option value="available">Available</option>
          <option value="pending">Pending</option>
          <option value="sold">Sold</option>
          </select>
        </div>
        <div class="divFilter">
        <button
          class="btn btn-primary buttonFilter"
          type="submit"
        >
        <fa-icon [icon]="filterIcon"></fa-icon>
          Filter
        </button>
        </div>
      </form>
  </div>

  <div class="successButton">
    <button class="btn btn-success" (click)="onNewPet()">
        <fa-icon [icon]="plusIcon"></fa-icon>
        Add
    </button> 
    <!-- <button class="btn btn-light refreshButton" (click)="onRefresh()">
        <fa-icon [icon]="refreshIcon"></fa-icon>
        Refresh
    </button> -->
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="loadedPets" matSort matSortActive="index" matSortDirection="asc">
  
      <!-- ID Column -->
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Index </th>
        <td mat-cell *matCellDef="let element"> {{element.newId}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>
  
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
        <td mat-cell *matCellDef="let element"> 
          <button class="btn btn-sm btn-info" (click)="onDetails(element)" >
            <fa-icon [icon]="eyeIcon"></fa-icon>
          </button> 
          <button class="btn btn-sm btn-primary" (click)="onEdit(element)" >
            <fa-icon [icon]="penIcon"></fa-icon>
          </button>
          <button class="btn btn-sm btn-danger" (click)="openDeletePopup()">
            <fa-icon [icon]="trashIcon"></fa-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectedRow(row)"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <!-- <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data"{{input.value}}"</td>
      </tr> -->
    </table>
   </div>
  

  <!-- Delete Modal -->
  <div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete</h4>
      </div>
      <div class="modal-body">
              <p>Are you sure you want to delete this pet with ID {{selectedId}} </p>
       </div>
      <div class="modal-footer">
        <button 
        type="button" 
        class="btn btn-danger"         
        (click)="onClearPosts()">
          Delete
        </button>
        <button 
        type="button" 
        class="btn"         
        (click)="closeDeletePopup()">
          Close
        </button>
      </div>
    </div>
  </div>